In [1]:
import numpy as np
import pandas as pd

### dataset, cur_fold, r, lr, num_iter= sys.argv[1:]

In [2]:
err = {}
for dataset in [1, 2]:
    err[dataset] = {}
    for cur_fold in range(5):
        err[dataset][cur_fold] = {}
        for r in range(1 ,21):
            err[dataset][cur_fold][r] = {}
            for lr in [0.01, 0.1, 1.0, 2.0]:
                err[dataset][cur_fold][r][lr] = {}
                for num_iter in range(100, 2600, 400):
                    err[dataset][cur_fold][r][lr][num_iter] = \
                    np.load("../code/baseline/stf-nested/stf-error-{}-{}-{}-{}-{}.npy".format(dataset, cur_fold, r, lr, num_iter)).item()

In [5]:
iter = pd.DataFrame(err[1][0][3][0.01]).mean().idxmin()

In [6]:
pd.DataFrame(err[1][0][3][0.01]).mean()[2500]

177.28915755534743

In [3]:
best_r = {}
best_lr = {}
best_iter = {}
for dataset in [1, 2]:
    best_r[dataset] = {}
    best_lr[dataset] = {}
    best_iter[dataset] = {}
    for cur_fold in range(5):
        min_error = np.inf
        for r in range(1, 21):
            for lr in [0.01, 0.1, 1.0, 2.0]:
                iter = pd.DataFrame(err[dataset][cur_fold][r][lr]).mean().idxmin()
                error = pd.DataFrame(err[dataset][cur_fold][r][lr]).mean()[iter]
                if error < min_error:
                    min_error = error
                    best_r[dataset][cur_fold] = r
                    best_lr[dataset][cur_fold] = lr
                    best_iter[dataset][cur_fold] = iter

In [4]:
pd.DataFrame(best_r)

    1   2
0  20  16
1  18  13
2  17  13
3  10   3
4  20  15

In [5]:
pd.DataFrame(best_lr)

     1    2
0  2.0  1.0
1  1.0  2.0
2  2.0  0.1
3  2.0  2.0
4  1.0  1.0

In [6]:
pd.DataFrame(best_iter)

      1     2
0   100  1700
1  1700   500
2   100  2500
3  2100   100
4  2500  2100

In [7]:
import sys
sys.path.append("../code/")
from dataloader import APPLIANCE_ORDER, get_train_test
from tensor_custom_core import stf_4dim, stf_4dim_time

In [8]:
def stf(dataset, cur_fold, r=2, lr=1, num_iter=100):
    num_folds=5
    train, test = get_train_test(dataset, num_folds=num_folds, fold_num=cur_fold)
    test_copy = test.copy()
    test_copy[:, 1:, :, :] = np.NaN
    train_test = np.concatenate([train, test_copy])
    H, A, D, T = stf_4dim(tensor=train_test, r=r, lr=lr, num_iter=num_iter)
    pred = np.einsum("Hr, Ar, Dr, Tr ->HADT", H, A, D, T)[len(train):, 1:, :, :]
    
    return pred

### dataset1

In [ ]:
dataset = 1
out = []
num_fold=5
for cur_fold in range(5):
    b_r= best_r[dataset][cur_fold]
    b_lr = best_lr[dataset][cur_fold]
    b_iter = best_iter[dataset][cur_fold]
    
    pred = stf(dataset, cur_fold, b_r, b_lr, b_iter)
    
    out.append(pred)

In [24]:
cont_out = np.concatenate(out)
tensor = np.load('../2015-5appliances.numpy.npy')
gt = tensor[:, 1:, :, :]

In [26]:
from sklearn.metrics import mean_absolute_error
err_stf = {APPLIANCE_ORDER[i+1]:mean_absolute_error(cont_out[:, i,:,:].flatten(), 
                                                                       gt[:, i, :, :].flatten()) for i in range(pred.shape[1])}

In [27]:
err_stf

{'dr': 117.55267578113788,
 'dw': 27.461522878707523,
 'fridge': 43.819964033418202,
 'hvac': 331.63421940163073,
 'mw': 10.488311233484415}

### dataset 2

In [ ]:
dataset = 2
out = []
num_fold=5
for cur_fold in range(5):
    b_r= best_r[dataset][cur_fold]
    b_lr = best_lr[dataset][cur_fold]
    b_iter = best_iter[dataset][cur_fold]
    
    pred = stf(dataset, cur_fold, b_r, b_lr, b_iter)
    
    out.append(pred)

1252.33308992 0
527.959217355 50
497.913017577 100
485.598775016 150
480.795097588 200
478.138420724 250
476.488134263 300
475.32242377 350
474.349240402 400
473.447005509 450
472.608111016 500
471.894729038 550
471.32460406 600
470.90972481 650
470.597483214 700
470.359519399 750
470.173643753 800
470.025461654 850
469.903689551 900
470.2406338 950
469.717039465 1000
469.631922545 1050
469.559896712 1100
469.493289488 1150
469.431321994 1200
469.373852816 1250
469.320427133 1300
469.270083076 1350
469.222136247 1400
469.176311398 1450
469.132448512 1500
469.090392435 1550
469.051494132 1600
469.01667089 1650
1130.47780132 0
522.329721924 50
492.205349408 100
481.823028392 150
477.514654514 200
475.683895015 250
476.886950426 300
472.657812498 350
471.911310251 400
471.344719487 450
1277.35094154 0
1027.75940997 50
745.517658982 100
626.701261412 150
587.095526992 200
572.455908563 250
565.62380263 300
561.280690543 350
557.730145748 400
554.413956037 450
551.20782432 500
548.044038134 550
544.87375861 600
541.772036559 650
538.747256597 700
535.829713696 750
533.052931549 800
530.452218494 850
527.975156124 900
525.605852268 950
523.326780544 1000
521.1495216 1050
519.065788726 1100
517.118519056 1150
515.273063676 1200
513.542444013 1250
511.922220913 1300
510.40730816 1350
508.989567968 1400
507.681148803 1450
506.473440581 1500
505.343108851 1550
504.290971039 1600
503.306764642 1650
502.382992668 1700
501.520923569 1750
500.708167756 1800
499.938577268 1850
499.211051925 1900
498.519780441 1950
497.85889346 2000
497.227771711 2050
496.62928354 2100
496.057387398 2150
495.508937813 2200
494.984911695 2250
494.495712667 2300
494.027690674 2350
493.575550405 2400
493.136371246 2450
1229.59672574 0
539.387936321 50
1242.58795528 0
518.766233895 50
492.087439321 100
478.983675068 150
473.596787105 200
470.858990867 250
469.393937876 300
468.415625111 350
467.73604367 400
467.218209185 450
466.789241032 500
466.399734147 550
466.035731066 600
465.679354775 650
465.334274545 700
465.016869801 750
464.74539225 800
464.516830294 850
464.320729427 900
464.148445152 950
463.98740504 1000
463.83321425 1050
463.684252442 1100

In [19]:
cont_out_2 = np.concatenate(out)
tensor = np.load('../2015-5appliances-true-agg.npy')
gt = tensor[:, 1:, :, :]

In [20]:
from sklearn.metrics import mean_absolute_error
err_stf = {APPLIANCE_ORDER[i+1]:mean_absolute_error(cont_out_2[:, i,:,:].flatten(), 
                                                                       gt[:, i, :, :].flatten()) for i in range(cont_out_2.shape[1])}

In [21]:
err_stf

{'dr': 116.04920935644708,
 'dw': 25.042311604862935,
 'fridge': 42.772340749615211,
 'hvac': 438.29128414467749,
 'mw': 16.192845365806502}