In [2]:
import numpy as np
import pandas as pd

### dataset, cur_fold, r, lr, num_iter= sys.argv[1:]

In [3]:
err = {}
for dataset in [1, 2]:
    err[dataset] = {}
    for cur_fold in range(5):
        err[dataset][cur_fold] = {}
        for r in range(1 ,21):
            err[dataset][cur_fold][r] = {}
            for lr in [0.01, 0.1, 1.0, 2.0]:
                err[dataset][cur_fold][r][lr] = {}
                for num_iter in range(100, 2600, 400):
                    err[dataset][cur_fold][r][lr][num_iter] = \
                    np.load("../../baseline/stf-nested/stf-error-{}-{}-{}-{}-{}.npy".format(dataset, cur_fold, r, lr, num_iter)).item()

In [4]:
iter = pd.DataFrame(err[1][0][3][0.01]).mean().idxmin()

In [5]:
pd.DataFrame(err[1][0][3][0.01]).mean()[2500]

177.28915755534743

In [6]:
best_r = {}
best_lr = {}
best_iter = {}
for dataset in [1, 2]:
    best_r[dataset] = {}
    best_lr[dataset] = {}
    best_iter[dataset] = {}
    for cur_fold in range(5):
        min_error = np.inf
        for r in range(1, 21):
            for lr in [0.01, 0.1, 1.0, 2.0]:
                iter = pd.DataFrame(err[dataset][cur_fold][r][lr]).mean().idxmin()
                error = pd.DataFrame(err[dataset][cur_fold][r][lr]).mean()[iter]
                if error < min_error:
                    min_error = error
                    best_r[dataset][cur_fold] = r
                    best_lr[dataset][cur_fold] = lr
                    best_iter[dataset][cur_fold] = iter

In [7]:
pd.DataFrame(best_r)

    1   2
0  20  16
1  18  13
2  17  13
3  10   3
4  20  15

In [8]:
pd.DataFrame(best_lr)

     1    2
0  2.0  1.0
1  1.0  2.0
2  2.0  0.1
3  2.0  2.0
4  1.0  1.0

In [9]:
pd.DataFrame(best_iter)

      1     2
0   100  1700
1  1700   500
2   100  2500
3  2100   100
4  2500  2100

In [17]:
import sys
sys.path.append("../code/")
from dataloader import APPLIANCE_ORDER, get_train_test
from tensor_custom_core import stf_4dim, stf_4dim_time

In [18]:
def stf(dataset, cur_fold, r=2, lr=1, num_iter=100):
    num_folds=5
    train, test = get_train_test(dataset, num_folds=num_folds, fold_num=cur_fold)
    test_copy = test.copy()
    test_copy[:, 1:, :, :] = np.NaN
    train_test = np.concatenate([train, test_copy])
    H, A, D, T = stf_4dim(tensor=train_test, r=r, lr=lr, num_iter=num_iter)
    pred = np.einsum("Hr, Ar, Dr, Tr ->HADT", H, A, D, T)[len(train):, 1:, :, :]
    
    return pred

### dataset1

In [ ]:
dataset = 1
out = []
num_fold=5
for cur_fold in range(5):
    b_r= best_r[dataset][cur_fold]
    b_lr = best_lr[dataset][cur_fold]
    b_iter = best_iter[dataset][cur_fold]
    
    pred = stf(dataset, cur_fold, b_r, b_lr, b_iter)
    
    out.append(pred)

798.933843056 0
378.803348099 50
774.407629853 0
365.00344319 50
348.621090837 100
342.167086754 150
338.306065278 200
336.303861986 250
335.103598744 300
334.344257071 350
333.821063507 400
333.41211898 450
333.067870084 500
332.768277648 550
332.50458815 600
332.263785697 650
332.035411527 700
331.81530579 750
331.606187673 800
331.413104578 850
334.61270702 900
331.063309943 950
330.897317442 1000
330.721851726 1050
330.531779888 1100
330.33091099 1150
330.126299526 1200
329.928018319 1250
329.750957264 1300
329.597514526 1350
329.465269089 1400
329.350633183 1450
329.251723463 1500
329.163389804 1550
329.084942314 1600
329.014487962 1650
758.386331002 0
370.68698227 50
711.568421186 0
367.737972621 50
348.901025068 100
344.276390236 150
342.733977494 200
341.997188568 250
341.494687181 300
341.038885002 350
340.578743822 400
340.144819979 450
339.782136944 500
339.511915195 550
339.310314185 600
339.146562617 650
339.01095118 700
338.914544877 750
338.840747355 800
343.917095059 850
338.672009627 900
338.604461889 950
338.555581595 1000
338.512565778 1050
338.478194577 1100
338.448270252 1150
338.421806314 1200
338.397912087 1250
338.374842534 1300
338.351118408 1350
338.326186099 1400
338.299175936 1450
338.269399184 1500
338.236597233 1550
338.201184188 1600
338.163622588 1650
338.124453229 1700
338.085324518 1750
338.047523077 1800
338.011799064 1850
337.978412795 1900
337.947954206 1950
337.919153296 2000
337.891563168 2050
775.157569446 0
361.82516549 50
345.857295088 100
338.552329022 150
334.72952726 200
332.48011659 250
331.807084783 300
330.515422262 350
329.996569334 400
329.582332848 450
329.219305291 500
328.874089872 550